@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FFFAFB;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 550px;
  height: 750px;
  /* margin-top: 10px; */
}